/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 17 may 2024, 11:30:39
    Author     : ibane
*/

.root {
    
    -fx-background-color: #ffb7b7;
    
}

.button-task {
    
    -fx-button-radius: 0;
    
    -fx-background-color: transparent;
    
    -fx-border-width: 1;
    -fx-border-color: #FF6161;
    
    -fx-text-fill: #FF6161;
    -fx-font-family: "Yu Gothic";
    -fx-font-weight: bold;
    -fx-font-size: 10pt;
    
}

.button-task:hover {
    
    -fx-button-radius: 0;
    
    -fx-background-color: transparent;
    
    -fx-border-width: 1;
    -fx-border-color: #ff4242;
    
    -fx-text-fill: #ff4242;
    -fx-font-family: "Yu Gothic";
    -fx-font-weight: bolder;
    -fx-font-size: 10pt;
    
}