/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 14 may 2024, 9:42:44
    Author     : esteb
*/

.root {
    -fx-background-color: #f1f1f1;
}

.text-title {

    -fx-font-family: "Yu Gothic";
    -fx-fill:#FF6161;
    -fx-font-weight: bolder;
    -fx-font-size: 30pt;
}

.texto-head {
    
    -fx-font-family: "Yu Gothic";
    -fx-fill: #FF6161;
    -fx-font-weight: normal;
    -fx-font-size: 10pt;
    
}

.texto-normal {
    
    -fx-font-family: "Yu Gothic";
    -fx-fill: #000000;
    -fx-font-weight: normal;
    -fx-font-size: 10pt;
    
}

.text-field {
    
    -fx-background-color: #ffffff;
    -fx-border-color: #9b9b9b;
    -fx-text-fill: #000000;
    -fx-font-family: "Yu Gothic";
    -fx-font-weight: normal;
    -fx-font-size: 10pt;
    
}

.button-bold {
    
    -fx-background-radius: 0;
    -fx-background-color: #FF6666;
    -fx-text-fill: #ffffff;
    -fx-font-family: "Yu Gothic";
    -fx-font-weight: bold;
    -fx-font-size: 10pt;
    
}

.button-bold:hover {
    
    -fx-button-radius: 0;
    -fx-text-fill: #ffffff;
    -fx-background-color: #ff4242;
    -fx-border-width: 1;
    -fx-border-color: #FF6161;
    -fx-font-family: "Yu Gothic";
    -fx-font-weight: bolder;
    -fx-font-size: 10pt;
    
}

.button-normal {
    
    -fx-text-fill: #000000;
    -fx-background-color: transparent;
    -fx-border-width: 1;
    -fx-border-color: #FF6161;
    -fx-text-fill: #ff6666;
    -fx-font-family: "Yu Gothic";
    -fx-font-weight: normal;
    -fx-font-size: 10pt;
    -fx-button-radius: 0;
    
}

.button-normal:hover {
    
    -fx-background-color: transparent;
    -fx-border-width: 1;
    -fx-border-color: #FF4242;
    -fx-text-fill: #ff4242;
    -fx-font-family: "Yu Gothic";
    -fx-font-weight: bold;
    -fx-font-size: 10pt;
    -fx-button-radius: 0;
}

.button-only-text-bold {
    -fx-text-fill: #000000;
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-text-fill: #ff6161;
    -fx-font-family: "Yu Gothic";
    -fx-font-weight: bold;
    -fx-font-size: 10pt;
    -fx-button-radius: 0;
}

.button-only-text-bold:hover {
    
    -fx-text-fill: #ff4242;
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-font-family: "Yu Gothic";
    -fx-font-weight: bolder;
    -fx-underline: true;
    -fx-font-size: 10pt;
    -fx-button-radius: 0;
    
}

